* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FFF4EE;
  height: 720px;
  background-image: url('https://files.slack.com/files-pri/T91QPE3BP-FP2EWTZ0A/immagine.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1500px;
}
/* INIZIO BARRA FISSA */
.container {
  width: 1080px;
  margin: 0 auto;
}

#barra_fissa {
  position: fixed;
  top: 0;
  line-height: 80px;
  background-color: #F5F8FA;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  z-index: 5;
}

.english_contact {
  height: 80px;
  width: 40%;
  float: left;
}

.login_getsup {
  height: 80px;
  width: 60%;
  float: left;
  text-align: right;
}

.language a {
  float: left;
  text-decoration: none;
  color: grey;
}

.freccia {
  border-right: 1px solid grey;
  margin-left: 20px;
}

.contact a {
  text-decoration: none;
  color: grey;
  margin-left: 20px;
}
.cerca {
  display: inline-block;
  margin-right: 20px;
}
.pulsanti {
  display: inline-block;
}
/* Pulsanti */
.login {
  color: #FF8F73;
  background-color: white;
  border-radius: 5px;
  border-color: #FF8F73;
  padding: 10px;
}

.get {
  background-color: #FF8F73;
  color: white;
  border-radius: 5px;
  border-color: #FF8F73;
  padding: 10px;
}
/* FINE BARRA FISSA */
/* INIZIO BARRA LOGO BIANCA */

.barra_logo {
  margin-top: 80px;
  line-height: 80px;
  background-color: white;
  height: 80px;
  width: 100%;
}

.logo_left {
  height: 80px;
  width: 30%;
  float: left;
}

.imgLogo:hover {
  cursor: pointer;
}

.menu_right {
  height: 100%;
  width: 50%;
  float: right;
}

.scelta_sezioni {
  float: right;
}

.sezioni {
  float: left;
  margin-right: 20px;
  text-decoration: none;
  color: #003366;
  font-size: 15px;
}

li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}
/* FINE BARRA LOGO BIANCA */
.jumbo-contenitore {
  margin-top: 70px;
}

.jumbo {
  width: 500px;
  text-align: left;
  font-size: 30px;
  color: #003366;
  font-family: 'Open Sans', sans-serif;
}

.jumbo-bottom {
  width: 500px;
  text-align: left;
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}

.butonGet {
  margin-top: 15px;
  padding: 20px;
}

button:hover {
  cursor: pointer;
}

.paragrafo-sotto-button {
  width: 200px;
  text-align: left;
  margin-top: 20px;
  font-size: 15px;
}

.chat {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #415A77;
  border-style: none;
  padding: 15px;
  border-radius: 50px;
  font-size: 35px;
  color: white;
}

.header-second {
  background-color: #F5F8FA;
}

.contenitore-CuboRubik {
  width: 80%;
  height: 600px;
  float: left;
}

.cubo {
  width: 70%;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #003366;
  text-align: center;
  float: left;
}
