* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FFF4EE;
  height: 720px;
  background-image: url('https://i.postimg.cc/W4tGDrzm/Immagine.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1500px;
}


#barra_fissa {
  position: fixed;
  top: 0;
  line-height: 80px;
  background-color: #F5F8FA;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.english_contact {
  height: 80px;
  width: 40%;
  position: absolute;
  left: 10%;
  float: left;
}

.login_getsup {
  height: 80px;
  width: 40%;
  position: absolute;
  right: 10%;
}

.barra_logo {
  line-height: 80px;
  background-color: white;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 80px;
}

.logo_left {
  height: 80px;
  width: 30%;
  position: absolute;
  left: 10%;
}

.menu_right {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 10%;
}

.language a {
  float: left;
  text-decoration: none;
  color: grey;
}

.freccia {
  border-right: 1px solid grey;
  margin-left: 20px;
}

.contact a {
  text-decoration: none;
  color: grey;
  margin-left: 20px;
}

.login_getsup a {
  float: right;
}
/* PERCHE??? */

.sezioni {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #003366;
  font-size: 20px;
}

li {
  list-style: none;
}

.jumbo-contenitore {
  position: absolute;
  left: 10%;
  top: 40%;
}

.jumbo {
  width: 450px;
  text-align: left;
  font-size: 30px;
  color: #003366;
}

.jumbo-bottom {
  width: 350px;
  text-align: left;
  margin-top: 20px;
}

.butonGet {
  margin-top: 10px;
}
